<h1>Hi, <%= @user.first %> <%= @user.last %>! Welcome to CourseAssist!</h1>
<%= link_to 'Back to course registration', addcourses_path %>
<p>Uni: <%= @user.uni %></p>
<p>Year: <%= @user.year %></p>
<p>School: <%= @user.school %></p>
<p>Major: <%= @user.major %></p>
<h3>Core Requirements:</h3>
<p><%= @reqs %></p>
<h3>Major Requirements:</h3>
<p><%= @maj_reqs %></p>
<% if not @min_reqs =="NA" %>
  <h3>Minor Requirements:</h3>
  <p><%= @min_reqs %></p>
 <h3>Registered Classes:</h3>
 <p><%= raw @classes %></p>
<% end %>
