<h1>Hi, please provide some more info about yourself</h1>
<%= form_tag users_path, class: 'form' do %>
  <%= label :user, :first, 'First Name', class: 'col-form-label' %>
  <%= text_field :user, :first, class:  'form-control' %>
  <%= label :user, :last, 'Last Name', class: 'col-form-label' %>
  <%= text_field :user, :last, class: 'form-control' %>
  <%= label :user, :uni, 'UNI', class: 'col-form-label' %>
  <%= text_field :user, :uni, class: 'form-control' %>
  <%= label :user, :year, 'Year', class: 'col-form-label'  %>
  <%= select :user, :year, ['First Year','Second Year','Third Year','Fourth Year'], {}, {class: 'form-control col-1'} %>
  <%= label :user, :school, 'School', class: 'col-form-label'  %>
  <%= select :user, :school, ['CC','SEAS'], {}, {class: 'form-control col-1'} %>
  
  <%= label :major, :major, 'Major:', :class => 'col-form-label'  %>
    <%= select :major, :major, 
    ['African American and African Diaspora Studies','American Studies',
    'Ancient Studies',
    'Anthropology',
    'Applied Mathematics',
    'Archaeology',
    'Architecture',
    'Art History',
    'Art History and Visual Arts',
    'Astronomy',
    'Astrophysics',
    'Biology',
    'Biochemistry',
    'Biophysics',
    'Business Management (Special Concentration)',
    'Chemical Physics',
    'Chemistry',
    'Classics',
    'Colloquia, Interdepartmental Seminars, and Professional School Offerings',
    'Comparative Literature and Society',
    'Computer Science',
    'Computer Science-Mathematics',
    'Creative Writing',
    'Dance',
    'Data Science',
    'Drama and Theatre Arts',
    'Earth Science',
    'East Asian Studies',
    'Economics',
    'Economics-Mathematics',
    'Economics-Philosophy',
    'Economics-Political Science',
    'Economics-Statistics',
    'Education (Special Concentration)',
    'English',
    'Environmental Biology',
    'Environmental Chemistry',
    'Environmental Science',
    'Ethnicity and Race Studies',
    'Evolutionary Biology of the Human Species',
    'Film and Media Studies',
    'Financial Economics',
    'French',
    'French and Francophone Studies',
    'German Literature and Cultural History',
    'Hellenic Studies (Modern Greek) (Special Concentration)',
    'Hispanic Studies',
    'History',
    'History and Philosophy of Science (Selected Coursework)',
    'History and Theory of Architecture',
    'Human Rights',
    'Information Science',
    'Italian',
    'Jazz Studies (Special Concentration)',
    'Jewish Studies (Special Concentration)',
    'Language Resource Center',
    'Latin American and Caribbean Studies',
    'Linguistics',
    'Mathematics',
    'Mathematics-Statistics',
    'Medieval and Renaissance Studies (Special Concentration)',
    'Middle Eastern, South Asian, and African Studies',
    'Music',
    'Neuroscience and Behavior',
    'Philosophy',
    'Physical Education',
    'Physics',
    'Political Science',
    'Political Science-Statistics',
    'Portuguese Studies',
    'Psychology',
    'Public Health (Special Concentration)',
    'Regional Studies',
    'Religion',
    'Russian Language and Culture',
    'Russian Literature',
    'Russian Literature and Culture',
    'Slavic (Non-Russian) Language and Culture',
    'Slavic Studies',
    'Sociology',
    'Statistics',
    'Sustainable Development',
    'Urban Studies',
    'Visual Arts',
    'Womens and Gender Studies',
    'Yiddish Studies'], {}, {:class => 'form-control col-1'} %>

    <%= label :user, :minor, 'Minor:', :class => 'col-form-label'  %>
    <%= select :user, :minor, 
    ['African American and African Diaspora Studies','American Studies',
    'Ancient Studies',
    'Anthropology',
    'Applied Mathematics',
    'Archaeology',
    'Architecture',
    'Art History',
    'Art History and Visual Arts',
    'Astronomy',
    'Astrophysics',
    'Biology',
    'Biochemistry',
    'Biophysics',
    'Business Management (Special Concentration)',
    'Chemical Physics',
    'Chemistry',
    'Classics',
    'Colloquia, Interdepartmental Seminars, and Professional School Offerings',
    'Comparative Literature and Society',
    'Computer Science',
    'Computer Science-Mathematics',
    'Creative Writing',
    'Dance',
    'Data Science',
    'Drama and Theatre Arts',
    'Earth Science',
    'East Asian Studies',
    'Economics',
    'Economics-Mathematics',
    'Economics-Philosophy',
    'Economics-Political Science',
    'Economics-Statistics',
    'Education (Special Concentration)',
    'English',
    'Environmental Biology',
    'Environmental Chemistry',
    'Environmental Science',
    'Ethnicity and Race Studies',
    'Evolutionary Biology of the Human Species',
    'Film and Media Studies',
    'Financial Economics',
    'French',
    'French and Francophone Studies',
    'German Literature and Cultural History',
    'Hellenic Studies (Modern Greek) (Special Concentration)',
    'Hispanic Studies',
    'History',
    'History and Philosophy of Science (Selected Coursework)',
    'History and Theory of Architecture',
    'Human Rights',
    'Information Science',
    'Italian',
    'Jazz Studies (Special Concentration)',
    'Jewish Studies (Special Concentration)',
    'Language Resource Center',
    'Latin American and Caribbean Studies',
    'Linguistics',
    'Mathematics',
    'Mathematics-Statistics',
    'Medieval and Renaissance Studies (Special Concentration)',
    'Middle Eastern, South Asian, and African Studies',
    'Music',
    'Neuroscience and Behavior',
    'Philosophy',
    'Physical Education',
    'Physics',
    'Political Science',
    'Political Science-Statistics',
    'Portuguese Studies',
    'Psychology',
    'Public Health (Special Concentration)',
    'Regional Studies',
    'Religion',
    'Russian Language and Culture',
    'Russian Literature',
    'Russian Literature and Culture',
    'Slavic (Non-Russian) Language and Culture',
    'Slavic Studies',
    'Sociology',
    'Statistics',
    'Sustainable Development',
    'Urban Studies',
    'Visual Arts',
    'Womens and Gender Studies',
    'Yiddish Studies'], {}, {:class => 'form-control col-1'} %>

  <br />
  <%= submit_tag 'Next', class: 'btn btn-primary' %>
<% end %>
